.imgFondo {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 930px;
    margin: 0px;
    mix-blend-mode: color-dodge;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.container {
    width: 100vw;
}