<div class="container">
    <app-card [imageUrlGame]="img1Url" [imageAltGame]="altGame" [imageUrlUser]="img1User" [user]="user1" [sponsor]="sponsor1" class="container__card"/>
    <app-card [imageUrlGame]="img2Url" [imageAltGame]="altGame" [imageUrlUser]="img2User" [user]="user2" [sponsor]="sponsor2" class="container__card"/>
    <app-card [imageUrlGame]="img1Url" [imageAltGame]="altGame" [imageUrlUser]="img1User" [user]="user1" [sponsor]="sponsor1" class="container__card"/>
    <app-card [imageUrlGame]="img2Url" [imageAltGame]="altGame" [imageUrlUser]="img2User" [user]="user2" [sponsor]="sponsor2" class="container__card"/>
    <app-card [imageUrlGame]="img1Url" [imageAltGame]="altGame" [imageUrlUser]="img1User" [user]="user1" [sponsor]="sponsor1" class="container__card"/>
    <app-card [imageUrlGame]="img2Url" [imageAltGame]="altGame" [imageUrlUser]="img2User" [user]="user2" [sponsor]="sponsor2" class="container__card"/>
</div>
