<div class="conteiner">
    <h1 class="conteiner__titulo">Let your
        mind <span class="titulo__elementText">explore</span> 
        new world</h1>
    <h2 class="conteiner__subtitulo">Playing electronic games, whether through consoles, computers, mobile phones or another medium altogether. Gaming is a nuanced term that suggests regular gameplay, possibly as a hobby.</h2>
    <div class="conteiner__btns">
        <app-boton-principal buttonText="Buy Now"></app-boton-principal>
        <app-boton-secundarion buttonText="Play Now" class="btns__btn-secundario"></app-boton-secundarion>
    </div>
    <app-cantidad-usuarios-por-categorias></app-cantidad-usuarios-por-categorias>
</div>