.btnFiltro {
    width: 221px;
    height: 64px;
    border: none;
    cursor: pointer;
    background: transparent;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #530cf7 24%, #eb81f5, #f803e4);
    border-image-slice: 1;
    transform: skewX(-20deg);
    transform-origin: center center;
    transition: background 0.2s ease-in;

    &:hover {
        background: #FF8B8B;
    }

    &__elementText {
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.04em;
        text-align: left;
        color: #FFFF;
        transform: skewX(20deg);
        display: inline-block;
        text-transform: uppercase;
    }
}