<div class="container">
    <div class="container__imgs">
        <img class="imgs_img--1" src="../../../assets/Footer/Twitter.png" alt="Twitter Logo">
        <img class="imgs_img--2" src="../../../assets/Footer/Facebook.png" alt="Twitter Logo">
        <img class="imgs_img--3" src="../../../assets/Footer/Instagram.png" alt="Twitter Logo">
        <img class="imgs_img--4" src="../../../assets/Footer/Git Hub.png" alt="Twitter Logo">
    </div>
    <div class="container__parrafo">
        <p class="parrafo__textCopyRight">© Copyright 2023, All Rights Reserved by board</p>
    </div>
</div>
