<div class="container">
    <h4 class="container__cartel--1">
        <span class="cartel--1__cantidadUsarios">300+</span> <span class="cartel--1__textoCartel">Unique Style</span>
    </h4>
    <h4 class="container__cartel--2">
        <span class="cartel--2__cantidadUsarios">200+</span> <span class="cartel--2__textoCartel">Project Finished</span>
    </h4>
    <h4 class="container__cartel--3">
        <span class="cartel--3__cantidadUsarios">500+</span> <span class="cartel--3__textoCartel">Happy Customer</span>
    </h4>
</div>
    