<div class="containerCard">
    <img class="containerCard__img" [src]="imageUrlGame" [alt]="imageAltGame">
    <div class="containerCard__containerText">
        <h1 class="containerText__title">Core philosophies</h1>
        <div class="containerText__userInfo">
            <img [src]="imageUrlUser" [alt]="imageAltUser">
            <div class="userInfo__user">
                <h2 class="user__name">{{ user }}</h2>
                <h3 class="user__sponsor">{{ sponsor }}</h3>
            </div>
        </div>
    </div>
    <app-boton-live-demo/>
</div>
