<div class="container">
    <h1 class="container__titular">Welcome to the top <span class="titular__elementText">games</span></h1>
    <div class="container__btns">
        <app-boton-principal-filtro class="btns__btnFiltro"/>
        <app-boton-secundario-filtro class="btns__btnFiltro" buttonText="Latest games"/>
        <app-boton-secundario-filtro class="btns__btnFiltro" buttonText="Fight games"/>
        <app-boton-secundario-filtro class="btns__btnFiltro" buttonText="sport games"/>
    </div>
    <app-games-cards/>
</div>
