<div class="containerLinksNav">
    <div class="containerLinksNav__blocksLinks--1">
        <h4 class="blocksLinks--1__title">COMPANY</h4>
        <a href="" class="blocksLinks--1__links">Products</a>
        <a href="" class="blocksLinks--1__links">Apps & Games</a>
        <a href="" class="blocksLinks--1__links">Features</a>
    </div>
    <div class="containerLinksNav__blocksLinks--2">
        <h4 class="blocksLinks--2__title">HELP</h4>
        <a href="" class="blocksLinks--2__links">Support</a>
        <a href="" class="blocksLinks--2__links">About</a>
        <a href="" class="blocksLinks--2__links">Contact Us</a>
    </div>
    <div class="containerLinksNav__blocksLinks--3">
        <h4 class="blocksLinks--3__title">RESOURCES</h4>
        <a href="" class="blocksLinks--3__links">Youtube Playlist</a>
        <a href="" class="blocksLinks--3__links">How To - Blog</a>
        <a href="" class="blocksLinks--3__links">Terms & Conditions</a>
    </div>
</div>