<div class="container">
    <div class="containerEtiquetas" #conteinerEtiquetas>
        <div class="containerEtiquetas__etiqueta--1">
            <img src="../../../assets/Header/Star.png" alt="">
            <h4>Gaming spaning</h4>
        </div>
        <div class="containerEtiquetas__etiqueta--2">
            <img src="../../../assets/Header/Star.png" alt="">
            <h4>Action - packed</h4>
        </div>
        <div class="containerEtiquetas__etiqueta--3">
            <img src="../../../assets/Header/Star.png" alt="">
            <h4>mind - bending</h4>
        </div>
        <div class="containerEtiquetas__etiqueta--4">
            <img src="../../../assets/Header/Star.png" alt="">
            <h4>collection og games</h4>
        </div>
    </div>
</div>